<div contact>
  <form action="https://formspree.io/fran@wholechsliving.com"
        method="POST">
        <h3 class="great-primer">Name</h3>
        <input type="text" name="firstname" class="text"><br><br>
        <h3 class="great-primer">E-mail</h3>
        <input type="email" name="_replyto" class="text"><br><br>
        <h3 class="great-primer">Choose a Topic</h3>
        <div class="radio">
          <input type="radio" name="topic" value="food" checked> Food<br>
          <input type="radio" name="topic" value="fitness"> Fitness<br>
        </div>
        <h3 class="great-primer">Message</h3><br>
        <textarea name="message" rows="10"  class="text">Type Your Message Here
        </textarea><br>
        <input type="submit" value="Send" class="submit">
  </form>
</div>
